BOT_TOKEN=tokeni
BOT_USERNAME=usernamesi 
ADMINS=idiyingiz
DB_TYPE=baza turi 
DB_NAME=bazajoylashuvi.db
WEBAPP_URL=webapp urili
REFERRAL_BONUS=3
DAILY_BONUS_MIN=2
DAILY_BONUS_MAX=10
SUBSCRIBE_REWARD=1
UNSUBSCRIBE_PENALTY_MULTIPLIER=2
UNSUBSCRIBE_CHECK_HOURS=16
ADSGRAM_API_KEY=your_adsgram_key
ADS_REWARD=2
GAME_777_MIN_BET=5
GAME_777_MAX_BET=500
LOG_LEVEL=INFO
